@model Request

<h3 class="p-2 bg-primary text-white text-center">Редактировать заявку</h3>

<form asp-action="UpdateRequest" method="post">
    <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="DateCreate"></label>
        <input asp-for="DateCreate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DateUpdate"></label>
        <input asp-for="DateUpdate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Topic"></label>
        <input asp-for="Topic" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Text"></label>
        <input asp-for="Text" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>